<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.tcmlearner.app.jingluo"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>JingLuo</name>
 
    <description>
        经络学位查询系统
    </description>
 
    <author href="http://tcmlearner.com">
        secott qin
    </author>
    <feature name="http://api.phonegap.com/1.0/file"/>>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	 <preference name="orientation" value="portrait" />
	 <icon src="icon.png" />
 
</widget>